In [1]:
import numpy as np

# Question 1

In [13]:
#Random number between 0 to 1
u = np.random.rand()
v = np.random.rand()
#Finding v
sine_v = np.sin(2 * np.pi * v)
#Finding u
sqrt_u = np.sqrt(-2 *  np.log(u))
#Finding Z
z_equation = sine_v * sqrt_u
print("Sine v:", sine_v)
print("Sqaure Root u:", sqrt_u)
print("The Value of Z:",z_equation)

Sine v: -0.9998986179960615
Sqaure Root u: 1.5158826871189992
The Value of Z: -1.5157290038944433

# Question 2

In [15]:
# A input
a = int(input("Please enter first input: "))
# B input
b = int(input("Please enter second input: "))
if a < b:
    print(a,b)
else: 
    print(b,a)

Please enter first input:  6
Please enter second input:  3

3 6

# Question 3

In [54]:
# x input
x = int(input("Please enter first input: "))
# y input
y = int(input("Please enter second input: "))
# z input
z = int(input("Please enter third input: "))
is_ordered = (x < y < z) or (x > y > z)
print("Is strictly ordered: ", is_ordered)

Please enter first input:  5
Please enter second input:  6
Please enter third input:  4

Is strictly ordered:  False

# Question 4

In [34]:
import pandas as pd
#Reading csv table
df = pd.read_csv("Question-4-Data - Sheet1 (1).csv")
df

   Magnitude-min  Magnitude-max  Descriptor
0              0           1.99       Micro
1              2           2.99  Very Minor
2              3           3.99      Minor
3              4           4.99       Light
4              5           5.99    Moderate
5              6           6.99      Strong
6              7           7.99      Major
7              8           9.99       Great
8             10          10.00    Meteoric

In [56]:
data_size = df['Descriptor'].size
data_min = df["Magnitude-min"]
data_max = df["Magnitude-max"]
# print(float(data_min[0]))
# print(float(data_max[0]))
user_input = float(input("Please enter first input: "))
i = 0
while i < data_size:
    if float(data_min[i]) <= user_input <= float(data_max[i]):
        print("Decriptor: ", df['Descriptor'][i])
        break
    elif user_input >= float(df["Magnitude-max"][8]):
        print("Decriptor: ", df['Descriptor'][8])
        break
    else :
        i += 1

Please enter first input:  10.05

Decriptor:  Meteoric

# Question 5

In [1]:
#you need to use list() in order to print output for range 
print(list(range(1,22,3)))

[1, 4, 7, 10, 13, 16, 19]

# Question 6

In [48]:
s = 'I ate it.'
print(s.upper())
print( s.count('t'))
w = s.split()
print(w)

I ATE IT.
2
['I', 'ate', 'it.']